<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690042780110-7ea5bp9g7fvk94sdn5fllaqhr71ir4l7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690042780110-7ea5bp9g7fvk94sdn5fllaqhr71ir4l7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209257217785-qslqfcttgfv6v5rl784lttntmejberi8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHh6pHFTUiEk9eyJX_IFjs0JqdSBqF5dY</string>
	<key>GCM_SENDER_ID</key>
	<string>209257217785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unica.tajic</string>
	<key>PROJECT_ID</key>
	<string>Tajic</string>
	<key>STORAGE_BUCKET</key>
	<string>snapstudy-321812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:209257217785:ios:3e283d0fe3bea91428ec28</string>
</dict>
</plist>
